html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/shadow.png), url(../images/right.png);
  background-position: top -18.84px left, top -108px right;
  background-repeat: no-repeat, no-repeat;
  height: 2000px;
  width: 100%;
}

header .container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 5px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}
header .container div ul {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container div ul li a {
  font-size: 17px;
  font-weight: 400;
  color: #212832;
}
header .container div .button1 {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container div .button1 button {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  width: 100px;
  border-color: #212832;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}
header .container div nav::after {
  content: url(../images/en.png);
  margin-left: 5px;
  margin-bottom: 5px;
}
header .container div nav {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  cursor: pointer;
}

.s-1 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-1 h4 {
  font-weight: 700;
  font-size: 20px;
  color: #DF6951;
  margin-bottom: 24px;
}
.s-1 h1 {
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  color: #181E4B;
  width: 545px;
  margin-bottom: 30px;
}
.s-1 p {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #5E6282;
  width: 477px;
  margin-bottom: 34px;
}
.s-1 .s-1-button {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-1 .s-1-button .yellow {
  width: 170px;
  height: 60px;
  border: none;
  background-color: #F1A501;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.s-1 .s-1-button .yellow:hover {
  background-color: #181E4B;
}
.s-1 .s-1-button .red-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-1 .s-1-button .red-button .red {
  border: none;
  width: 52px;
  height: 52px;
  background-color: #DF6951;
  border-radius: 50px;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  cursor: pointer;
}
.s-1 .s-1-button .red-button a {
  font-size: 17px;
  font-weight: 500;
  color: #686D77;
}
.s-1 .s-1-button .red-button:hover .red {
  background-color: #181E4B;
}
.s-1 .s-1-button .red-button:hover a {
  color: #181E4B;
}

.s-2 {
  width: 100%;
}
.s-2 .container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 123px;
  background-image: url("../images/s-2img.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.s-2 .container h6 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 10px;
}
.s-2 .container h2 {
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  margin-bottom: 75px;
}
.s-2 .container .cards {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.s-2 .container .cards .red-decoration {
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0px 10px;
  position: absolute;
  left: 270px;
  top: 160px;
  z-index: 1;
}
.s-2 .container .cards .card {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
  z-index: 2;
}
.s-2 .container .cards .card .img1 {
  margin-bottom: 29px;
}
.s-2 .container .cards .card .img2 {
  width: 119px;
  margin-bottom: 17px;
}
.s-2 .container .cards .card .img3 {
  margin-bottom: 31px;
}
.s-2 .container .cards .card .img4 {
  margin-bottom: 40px;
}
.s-2 .container .cards .card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1E1D4C;
  margin-bottom: 15px;
}
.s-2 .container .cards .card p {
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  width: 170px;
  text-align: center;
  margin-bottom: 35px;
}
.s-2 .container .cards .card:hover {
  width: 200px;
  border-radius: 36px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.s-2 .container .cards .card:hover h3 {
  color: #DF6951;
}

.s-3 .container {
  max-width: 1230px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 190px;
  background-image: url("../images/s-3decore.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.s-3 .container h6 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 10px;
}
.s-3 .container h2 {
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  margin-bottom: 60px;
}
.s-3 .container .destination {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-3 .container .destination .destination-cards {
  background-color: #FFFFFF;
  width: 315px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}
.s-3 .container .destination .destination-cards img {
  width: 315px;
  margin-bottom: 27px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
.s-3 .container .destination .destination-cards .text {
  width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.s-3 .container .destination .destination-cards .text .left h4 {
  font-size: 27px;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 19px;
}
.s-3 .container .destination .destination-cards .text .left h5 {
  font-size: 24px;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 19px;
}
.s-3 .container .destination .destination-cards .text .left h5::before {
  content: url(../images/navigation.png);
  margin-right: 10px;
  text-align: center;
}
.s-3 .container .destination .destination-cards .text p {
  color: #5E6282;
  font-size: 24px;
  font-weight: 500;
}
.s-3 .container .destination .destination-cards:hover {
  background-color: #f7bbaf;
}

.s-4 {
  background-image: url("../images/s-4decor.jpg");
  background-repeat: no-repeat;
  background-position: top -90px right -10px;
}
.s-4 .container {
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-4 .container .ticket {
  width: 511px;
}
.s-4 .container .ticket h5 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 15px;
}
.s-4 .container .ticket h1 {
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  margin-bottom: 45px;
}
.s-4 .container .ticket .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
.s-4 .container .ticket .step img {
  margin-right: 21px;
}
.s-4 .container .ticket .step .text {
  width: 327px;
}
.s-4 .container .ticket .step .text h3 {
  font-size: 16px;
  font-weight: 700;
  color: #5E6282;
  margin-bottom: 5px;
}
.s-4 .container .ticket .step .text p {
  font-size: 16px;
  font-weight: 400;
  color: #5E6282;
  line-height: 19.92px;
}
.s-4 .container .right-card {
  position: relative;
  width: 215px;
}
.s-4 .container .right-card .first {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 26px;
  padding: 20px;
  position: absolute;
  z-index: 10;
  top: -180px;
  left: -200px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.s-4 .container .right-card .first .img1 {
  margin-bottom: 26px;
}
.s-4 .container .right-card .first h3 {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin-bottom: 15px;
}
.s-4 .container .right-card .first .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}
.s-4 .container .right-card .first .date p {
  font-size: 16px;
  font-weight: 500;
  color: #84829A;
}
.s-4 .container .right-card .first .date .line::after {
  content: url("../images/line3.png");
  margin-right: 10px;
  margin-left: 2px;
}
.s-4 .container .right-card .first .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  margin-bottom: 21px;
}
.s-4 .container .right-card .first .last-line {
  font-size: 16px;
  font-weight: 500;
  color: #84829A;
}
.s-4 .container .right-card .first .last-line::before {
  content: url("../images/building.png");
  margin-right: 10px;
}
.s-4 .container .right-card .first .last-line::after {
  content: url("../images/heart.png");
  margin-left: 170px;
}
.s-4 .container .right-card .second {
  position: absolute;
  top: 27px;
  left: 0px;
  z-index: 15;
  width: 260px;
  background-color: #FFFFFF;
  border-radius: 18px;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.s-4 .container .right-card .second .title h6 {
  font-size: 14px;
  font-weight: 500;
  color: #84829A;
  margin-bottom: 5px;
}
.s-4 .container .right-card .second .title .trip {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin-bottom: 8px;
}
.s-4 .container .right-card .second .title .procent {
  font-size: 14px;
  font-weight: 500;
  color: #080809;
}
.s-4 .container .right-card .second .title span {
  color: #8A79DF;
}/*# sourceMappingURL=global.css.map */