html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .hero {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../images/shadow.png), url(../images/right.png);
  background-position: top -18.84px left, top -108px right;
  background-repeat: no-repeat, no-repeat;
}
header .hero .container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 5px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 970px) {
  header .hero .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
header .hero .container .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
}
@media (max-width: 970px) {
  header .hero .container .navigation {
    display: none;
  }
}
header .hero .container .navigation ul {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .hero .container .navigation ul li a {
  font-size: 17px;
  font-weight: 400;
  color: #212832;
}
header .hero .container .navigation .button1 {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .hero .container .navigation .button1 button {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  width: 100px;
  border-color: #212832;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}
header .hero .container .navigation nav::after {
  content: url(../images/en.png);
  margin-left: 5px;
  margin-bottom: 5px;
}
header .hero .container .navigation nav {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  cursor: pointer;
}
header .hero .container .bar {
  display: none;
}
@media (max-width: 970px) {
  header .hero .container .bar {
    display: block;
    font-size: 30px;
    color: #ff6a00;
    cursor: pointer;
  }
}
header .hero .s-1 .container1 {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
header .hero .s-1 .container1 .left-text {
  max-width: 545px;
  width: 100%;
}
@media (max-width: 972px) {
  header .hero .s-1 .container1 .left-text {
    width: 350px;
  }
}
@media (max-width: 670px) {
  header .hero .s-1 .container1 .left-text {
    width: 300px;
  }
}
@media (max-width: 614px) {
  header .hero .s-1 .container1 .left-text {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    width: 100%;
  }
}
header .hero .s-1 .container1 .left-text h4 {
  font-weight: 700;
  font-size: 20px;
  color: #DF6951;
  margin-bottom: 24px;
}
header .hero .s-1 .container1 .left-text h1 {
  font-size: 84px;
  line-height: 89px;
  color: #181E4B;
  font-family: "Volkhov", serif;
  margin-bottom: 30px;
}
@media (max-width: 972px) {
  header .hero .s-1 .container1 .left-text h1 {
    font-size: 60px;
    line-height: 50px;
  }
}
@media (max-width: 768px) {
  header .hero .s-1 .container1 .left-text h1 {
    font-size: 40px;
    line-height: 50px;
  }
}
header .hero .s-1 .container1 .left-text p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  color: #5E6282;
  max-width: 477px;
  margin-bottom: 34px;
}
@media (max-width: 972px) {
  header .hero .s-1 .container1 .left-text p {
    max-width: 300px;
  }
}
header .hero .s-1 .container1 .left-text .s-1-button {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 420px) {
  header .hero .s-1 .container1 .left-text .s-1-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
  }
}
header .hero .s-1 .container1 .left-text .s-1-button .yellow {
  width: 170px;
  height: 60px;
  border: none;
  background-color: #F1A501;
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media (max-width: 420px) {
  header .hero .s-1 .container1 .left-text .s-1-button .yellow {
    margin-bottom: 30px;
  }
}
header .hero .s-1 .container1 .left-text .s-1-button .yellow:hover {
  background-color: #181E4B;
}
header .hero .s-1 .container1 .left-text .s-1-button .red-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 420px) {
  header .hero .s-1 .container1 .left-text .s-1-button .red-button {
    margin-bottom: 30px;
  }
}
header .hero .s-1 .container1 .left-text .s-1-button .red-button .red {
  border: none;
  width: 52px;
  height: 52px;
  background-color: #DF6951;
  border-radius: 50px;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  cursor: pointer;
}
header .hero .s-1 .container1 .left-text .s-1-button .red-button a {
  font-size: 17px;
  font-weight: 500;
  color: #686D77;
}
header .hero .s-1 .container1 .left-text .s-1-button .red-button:hover .red {
  background-color: #181E4B;
}
header .hero .s-1 .container1 .left-text .s-1-button .red-button:hover a {
  color: #181E4B;
}
header .hero .s-1 .container1 .hero-girl {
  display: block;
}
header .hero .s-1 .container1 .hero-girl .hero-girl1 {
  width: 768px;
  height: 760px;
}
@media (max-width: 1246px) {
  header .hero .s-1 .container1 .hero-girl .hero-girl1 {
    width: 550px;
    height: 550px;
  }
}
@media (max-width: 1034px) {
  header .hero .s-1 .container1 .hero-girl .hero-girl1 {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 768px) {
  header .hero .s-1 .container1 .hero-girl .hero-girl1 {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 614px) {
  header .hero .s-1 .container1 .hero-girl .hero-girl1 {
    display: none;
  }
}

.s-2 {
  width: 100%;
}
.s-2 .container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 123px;
  background-image: url("../images/s-2img.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.s-2 .container h6 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 10px;
}
.s-2 .container h2 {
  font-size: 50px;
  color: #14183E;
  margin-bottom: 75px;
  font-family: "Volkhov", serif;
  text-align: center;
}
@media (max-width: 500px) {
  .s-2 .container h2 {
    font-size: 40px;
  }
}
@media (max-width: 400px) {
  .s-2 .container h2 {
    font-size: 30px;
  }
}
@media (max-width: 300px) {
  .s-2 .container h2 {
    font-size: 20px;
    text-align: center;
  }
}
.s-2 .container .cards {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 700px) {
  .s-2 .container .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.s-2 .container .cards .red-decoration {
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0px 10px;
  position: absolute;
  left: 270px;
  top: 160px;
  z-index: 1;
}
@media (max-width: 700px) {
  .s-2 .container .cards .red-decoration {
    display: none;
  }
}
.s-2 .container .cards .card {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: #FFFFFF;
  z-index: 2;
}
@media (max-width: 700px) {
  .s-2 .container .cards .card {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}
@media (max-width: 400px) {
  .s-2 .container .cards .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
.s-2 .container .cards .card .img1 {
  margin-bottom: 29px;
}
.s-2 .container .cards .card .img2 {
  width: 119px;
  margin-bottom: 17px;
}
.s-2 .container .cards .card .img3 {
  margin-bottom: 31px;
}
.s-2 .container .cards .card .img4 {
  margin-bottom: 40px;
}
.s-2 .container .cards .card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1E1D4C;
  margin-bottom: 15px;
}
.s-2 .container .cards .card p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  width: 170px;
  text-align: center;
  margin-bottom: 35px;
}
.s-2 .container .cards .card:hover {
  width: 200px;
  border-radius: 36px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.s-2 .container .cards .card:hover h3 {
  color: #DF6951;
}

.s-3 .container {
  max-width: 1230px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 190px;
  background-image: url("../images/s-3decore.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.s-3 .container h6 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 10px;
}
.s-3 .container h2 {
  font-size: 50px;
  color: #14183E;
  margin-bottom: 60px;
  font-family: "Volkhov", serif;
  text-align: center;
}
@media (max-width: 364px) {
  .s-3 .container h2 {
    font-size: 40px;
  }
}
.s-3 .container .destination {
  max-width: 1140px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1010px) {
  .s-3 .container .destination {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-3 .container .destination .destination-cards {
  background-color: #FFFFFF;
  max-width: 315px;
  width: 100%;
  border-radius: 24px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  cursor: pointer;
}
@media (max-width: 1010px) {
  .s-3 .container .destination .destination-cards {
    margin-bottom: 30px;
  }
}
@media (max-width: 346px) {
  .s-3 .container .destination .destination-cards {
    max-width: 200px;
  }
}
.s-3 .container .destination .destination-cards img {
  width: 315px;
  margin-bottom: 27px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}
@media (max-width: 346px) {
  .s-3 .container .destination .destination-cards img {
    width: 200px;
  }
}
.s-3 .container .destination .destination-cards .text {
  width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
@media (max-width: 346px) {
  .s-3 .container .destination .destination-cards .text {
    width: 200px;
  }
}
.s-3 .container .destination .destination-cards .text .left h4 {
  font-size: 27px;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 19px;
}
.s-3 .container .destination .destination-cards .text .left h5 {
  font-size: 24px;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 19px;
}
.s-3 .container .destination .destination-cards .text .left h5::before {
  content: url(../images/navigation.png);
  margin-right: 10px;
  text-align: center;
}
.s-3 .container .destination .destination-cards .text p {
  color: #5E6282;
  font-size: 24px;
  font-weight: 500;
}
.s-3 .container .destination .destination-cards:hover {
  background-color: #f7bbaf;
}

.s-4 .container {
  max-width: 1215px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/s-4decor.jpg");
  background-repeat: no-repeat;
  background-position: top -90px right -90px;
}
@media (max-width: 950px) {
  .s-4 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-4 .container .ticket {
  max-width: 511px;
}
@media (max-width: 950px) {
  .s-4 .container .ticket {
    max-width: 900px;
  }
}
.s-4 .container .ticket h5 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 15px;
}
@media (max-width: 950px) {
  .s-4 .container .ticket h5 {
    text-align: center;
  }
}
.s-4 .container .ticket h1 {
  font-size: 50px;
  color: #14183E;
  margin-bottom: 45px;
  font-family: "Volkhov", serif;
}
@media (max-width: 950px) {
  .s-4 .container .ticket h1 {
    text-align: center;
  }
}
@media (max-width: 548px) {
  .s-4 .container .ticket h1 {
    font-size: 30px;
  }
}
@media (max-width: 950px) {
  .s-4 .container .ticket .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.s-4 .container .ticket .steps .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}
@media (max-width: 950px) {
  .s-4 .container .ticket .steps .step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.s-4 .container .ticket .steps .step img {
  margin-right: 21px;
}
@media (max-width: 950px) {
  .s-4 .container .ticket .steps .step img {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
.s-4 .container .ticket .steps .step .text {
  max-width: 327px;
}
.s-4 .container .ticket .steps .step .text h3 {
  font-size: 16px;
  font-weight: 700;
  color: #5E6282;
  margin-bottom: 5px;
}
.s-4 .container .ticket .steps .step .text p {
  font-size: 16px;
  font-weight: 400;
  color: #5E6282;
  line-height: 19.92px;
}
.s-4 .container .right-card {
  max-width: 510px;
  width: 100%;
  height: 500px;
}
.s-4 .container .right-card .right-card1 {
  position: relative;
  max-width: 510px;
  height: 500px;
  top: 15%;
  left: 0;
}
@media (max-width: 950px) {
  .s-4 .container .right-card .right-card1 {
    top: 0;
  }
}
@media (max-width: 530px) {
  .s-4 .container .right-card .right-card1 {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-4 .container .right-card .right-card1 .first {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 26px;
  padding: 20px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
@media (max-width: 530px) {
  .s-4 .container .right-card .right-card1 .first {
    position: static;
    top: auto;
    left: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 364px) {
  .s-4 .container .right-card .right-card1 .first {
    width: 300px;
  }
}
.s-4 .container .right-card .right-card1 .first .img1 {
  margin-bottom: 26px;
}
.s-4 .container .right-card .right-card1 .first h3 {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin-bottom: 15px;
}
.s-4 .container .right-card .right-card1 .first .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}
.s-4 .container .right-card .right-card1 .first .date p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #84829A;
}
.s-4 .container .right-card .right-card1 .first .date .line::after {
  content: url("../images/line3.png");
  margin-right: 10px;
  margin-left: 2px;
}
.s-4 .container .right-card .right-card1 .first .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  margin-bottom: 21px;
}
.s-4 .container .right-card .right-card1 .first .last-line {
  font-size: 16px;
  font-weight: 500;
  color: #84829A;
}
.s-4 .container .right-card .right-card1 .first .last-line::before {
  content: url("../images/building.png");
  margin-right: 10px;
}
.s-4 .container .right-card .right-card1 .first .last-line::after {
  content: url("../images/heart.png");
  margin-left: 170px;
}
.s-4 .container .right-card .right-card1 .second {
  position: absolute;
  top: 40%;
  right: 0px;
  z-index: 15;
  width: 260px;
  background-color: #FFFFFF;
  border-radius: 18px;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
@media (max-width: 530px) {
  .s-4 .container .right-card .right-card1 .second {
    position: static;
    top: auto;
    left: auto;
  }
}
.s-4 .container .right-card .right-card1 .second .title h6 {
  font-size: 14px;
  font-weight: 500;
  color: #84829A;
  margin-bottom: 5px;
}
.s-4 .container .right-card .right-card1 .second .title .trip {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  margin-bottom: 8px;
}
.s-4 .container .right-card .right-card1 .second .title .procent {
  font-size: 14px;
  font-weight: 500;
  color: #080809;
}
.s-4 .container .right-card .right-card1 .second .title span {
  color: #8A79DF;
}

.s-5 .container {
  max-width: 1170px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}
@media (max-width: 1014px) {
  .s-5 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1014px) {
  .s-5 .container .left-side {
    text-align: center;
  }
}
.s-5 .container .left-side h5 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 8px;
}
.s-5 .container .left-side h1 {
  width: 409px;
  font-size: 50px;
  color: #14183E;
  margin-bottom: 82px;
  font-family: "Volkhov", serif;
  line-height: 70px;
}
@media (max-width: 1014px) {
  .s-5 .container .left-side h1 {
    width: 100%;
  }
}
.s-5 .container .right-side {
  max-width: 600px;
  width: 100%;
  position: relative;
}
.s-5 .container .right-side .men {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.s-5 .container .right-side .card1 {
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 30px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.s-5 .container .right-side .card1 p {
  max-width: 400px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  margin-bottom: 34px;
  padding: 28px 68px 0 34px;
}
.s-5 .container .right-side .card1 h3 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 5px;
  padding-left: 34px;
}
.s-5 .container .right-side .card1 h4 {
  font-size: 14px;
  font-weight: 500;
  color: #5E6282;
  padding-left: 34px;
  padding-bottom: 34px;
}
.s-5 .container .right-side .card2 {
  position: absolute;
  z-index: 8;
  top: 110px;
  left: 80px;
  border-width: 2px;
  border-color: #F7F7F7;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.s-5 .container .right-side .card2 p {
  max-width: 400px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  margin-bottom: 34px;
  padding: 28px 68px 0 34px;
}
.s-5 .container .right-side .card2 h3 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 8px;
  padding-left: 34px;
}
.s-5 .container .right-side .card2 h4 {
  font-size: 14px;
  font-weight: 500;
  color: #5E6282;
  padding-left: 34px;
  padding-bottom: 34px;
}
.s-5 .container .right-side .vector {
  position: absolute;
  top: 130px;
  right: 0;
  cursor: pointer;
}

.s-6 .container {
  max-width: 1170px;
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 100px;
}
@media (max-width: 1014px) {
  .s-6 .container {
    margin-top: 350px;
  }
}
@media (max-width: 826px) {
  .s-6 .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 414px) {
  .s-6 .container {
    margin-top: 500px;
  }
}
.s-6 .container img {
  width: 160px;
  cursor: pointer;
}
@media (max-width: 826px) {
  .s-6 .container img {
    margin-bottom: 50px;
  }
}
.s-6 .container img:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.s-7 .container {
  max-width: 1356px;
  width: 100%;
  height: 450px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 150px;
  background-image: url(../images/s-7-decore.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.s-7 .container .main {
  max-width: 1170px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DFD7F9;
  border-radius: 129px 20px 20px 20px;
  background-image: url(../images/s-7-1.png), url(../images/s-7-2.png);
  background-position: bottom left, top right;
  background-repeat: no-repeat, no-repeat;
}
.s-7 .container .main h3 {
  padding-top: 79px;
  font-size: 33px;
  font-weight: 600;
  line-height: 54px;
  color: #5E6282;
  margin-bottom: 74px;
  max-width: 860px;
  text-align: center;
}
@media (max-width: 665px) {
  .s-7 .container .main h3 {
    font-size: 25px;
  }
}
.s-7 .container .main .email {
  padding-bottom: 78px;
}
@media (max-width: 652px) {
  .s-7 .container .main .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 431px;
    width: 100%;
    padding: 5px;
  }
}
.s-7 .container .main .email input {
  width: 421px;
  height: 68px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  padding: 25px 0 26px 66px;
}
@media (max-width: 652px) {
  .s-7 .container .main .email input {
    text-align: center;
    -webkit-transform: translate(-50% -50%);
            transform: translate(-50% -50%);
    margin-bottom: 20px;
    padding-left: 0;
    max-width: 421px;
    width: 100%;
  }
}
.s-7 .container .main .email button {
  width: 180px;
  height: 68px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background-image: linear-gradient(#FF946D, #FF7D68);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #FFFFFF;
  margin-left: 25px;
}
@media (max-width: 652px) {
  .s-7 .container .main .email button {
    max-width: 421px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }
}
.s-7 .container .main .email button:hover {
  color: #181E4B;
}
.s-7 .container img {
  position: absolute;
  top: 1%;
  right: 5%;
  z-index: 10;
}
@media (max-width: 1170px) {
  .s-7 .container img {
    right: 0;
  }
}
@media (max-width: 653px) {
  .s-7 .container img {
    top: 0;
    right: 0;
  }
}
@media (max-width: 474px) {
  .s-7 .container img {
    display: none;
  }
}

footer .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}
@media (max-width: 902px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .container .ft-left {
  width: 207px;
}
@media (max-width: 902px) {
  footer .container .ft-left {
    margin-bottom: 30px;
  }
}
footer .container .ft-left h2 {
  font-size: 44px;
  font-family: "Poppins", sans-serif;
  color: #181E4B;
  margin-bottom: 19px;
}
footer .container .ft-left p {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
}
footer .container .ft-midle {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 902px) {
  footer .container .ft-midle {
    margin-bottom: 30px;
  }
}
@media (max-width: 424px) {
  footer .container .ft-midle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 207px;
  }
}
@media (max-width: 424px) {
  footer .container .ft-midle .ft-midle1 {
    margin-bottom: 30px;
  }
}
footer .container .ft-midle .ft-midle1 h3 {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #080809;
  margin-bottom: 34px;
}
footer .container .ft-midle .ft-midle1 h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  margin-bottom: 12px;
}
footer .container .ft-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 902px) {
  footer .container .ft-right {
    margin-bottom: 50px;
  }
}
footer .container .ft-right .social {
  width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
}
footer .container .ft-right h4 {
  font-size: 20px;
  font-weight: 500;
  color: #5E6282;
  margin-bottom: 16px;
  margin-left: 10px;
}
footer .container .ft-right .store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 214px;
  margin-left: 7px;
}/*# sourceMappingURL=global.css.map */