.body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    background-image: url(../images/shadow.png), url(../images/right.png);
    background-position: top -18.84px left, top -108px right;
    background-repeat: no-repeat, no-repeat;

    height: 2000px;
    width: 100%;
    
  }

header {
    .container {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        padding: 50px 5px;
        margin-bottom: 60px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
        
        

            ul {
                width: 460px;
                display: flex;
                justify-content: space-between;

                li {

                    a {
                        font-size: 17px;
                        font-weight: 400;
                        color: #212832;
                    }
                    
                }
            }

            .button1 {
                width: 250px;
                display: flex;
                justify-content: space-between;

                button {
                    font-size: 17px;
                    font-weight: 500;
                    color: #212832;

                    width: 100px;
                    border-color: #212832;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 5px;
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            nav::after {
                content: url(../images/en.png);
                margin-left: 5px;
                margin-bottom: 5px;
            }

            nav {
                font-size: 17px;
                font-weight: 500;
                color: #212832;   
                cursor: pointer; 
            }

        }
    }
}

.s-1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-weight: 700;
        font-size: 20px;
        color: #DF6951;
        margin-bottom: 24px;
    }

    h1 {
        font-weight: 700;
        font-size: 84px;
        line-height: 89px;
        color: #181E4B;

        width: 545px;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: #5E6282;

        width: 477px;
        margin-bottom: 34px;
    }

    .s-1-button {
        width: 380px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .yellow {
            width: 170px;
            height: 60px;
            border: none;
            background-color: #F1A501;
            border-radius: 10px;
            box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
            border-radius: 10px;

            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer; 
        }

        .yellow:hover {
            background-color: #181E4B;
        }

        .red-button {
            display: flex;
            justify-content: space-between;
            width: 140px;
            align-items: center;

            .red {
                border: none;
                width: 52px;
                height: 52px;
                background-color: #DF6951;
                border-radius: 50px;
                box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                cursor: pointer; 
            }
    
            a {
                font-size: 17px;
                font-weight: 500;
                color: #686D77;
            }
        }

        .red-button:hover {
            .red {
                background-color: #181E4B;
            }

            a {
                color: #181E4B;
            }
        }

       
    }
}

.s-2 {
    width: 100%;

    .container {
        max-width: 1230px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 123px;

        background-image: url('../images/s-2img.png');
        background-repeat: no-repeat;
        background-position: top right;
        

        

        h6 {
            font-size: 18px;
            font-weight: 600;
            color: #5E6282;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 50px;
            font-weight: 700;
            color: #14183E;
            margin-bottom: 75px;
        }

        .cards {
            max-width: 1100px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;

            .red-decoration {
                width: 100px;
                height: 100px;
                background-color: #DF6951;
                border-radius: 30px 0px 10px;
                position: absolute;
                left: 270px;
                top: 160px;
                z-index: 1;
            }
            

            .card {
                width: 190px;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;
                background-color: #FFFFFF;
                z-index: 2;
                
              

                .img1 {
                    margin-bottom: 29px;
                }

                .img2 {
                    width: 119px;
                    margin-bottom: 17px;
                }

                .img3 {
                    margin-bottom: 31px;
                }

                .img4 {
                    margin-bottom: 40px;
                }

                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #1E1D4C;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #5E6282;
                    width: 170px;
                    text-align: center;
                    margin-bottom: 35px;
                }

            }

            .card:hover {
                width: 200px;
                border-radius: 36px;
                box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
                0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
                0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
                0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px
                 rgba(0, 0, 0, 0.00785185), 
                 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);

                 h3 {
                    color: #DF6951;
                 }
            }
        }

        
    }
}

.s-3 {
    .container {
        max-width: 1230px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 auto;
        margin-bottom: 190px;

        background-image: url('../images/s-3decore.png');
        background-repeat: no-repeat;
        background-position: bottom right;

        h6 {
            font-size: 18px;
            font-weight: 600;
            color: #5E6282;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 50px;
            font-weight: 700;
            color: #14183E;
            margin-bottom: 60px;
        }

        .destination {
            width: 1140px;
            display: flex;
            justify-content: space-between;
            

            .destination-cards {
                background-color: #FFFFFF;
                width: 315px;
                border-radius: 24px;
                box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 
                0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 
                0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 
                0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px
                 rgba(0, 0, 0, 0.00785185), 
                 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);

                 cursor: pointer;

                img {
                    width: 315px;
                    margin-bottom: 27px;
                    border-top-right-radius: 24px;
                    border-top-left-radius: 24px;
                }

                .text {
                    width: 315px;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 15px;

                    border-bottom-left-radius: 24px;
                    border-bottom-right-radius: 24px;

                    .left {
                        h4 {
                            font-size: 27px;
                            font-weight: 500;
                            color: #5E6282;
                            margin-bottom: 19px;
                        }

                        h5 {
                            font-size: 24px;
                            font-weight: 500;
                            color: #5E6282;
                            margin-bottom: 19px;
                            
                        }

                        h5::before {
                            content: url(../images/navigation.png);
                            margin-right: 10px;
                            text-align: center;
                        }
                    }

                    p {
                        color: #5E6282;
                        font-size: 24px;
                        font-weight: 500;
                    }
                }
        
            }

            .destination-cards:hover {
                background-color: #f7bbaf;
            }

        }

        
    }
}