.body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    background-image: url(../images/shadow.png), url(../images/right.png);
    background-position: top -18.84px left, top -108px right;
    background-repeat: no-repeat, no-repeat;

    height: 2000px;
    width: 100%;
    
  }

header {
    .container {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        padding: 50px 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 800px;
        
        

            ul {
                width: 460px;
                display: flex;
                justify-content: space-between;

                li {

                    a {
                        font-size: 17px;
                        font-weight: 400;
                        color: #212832;
                    }
                    
                }
            }

            .button1 {
                width: 250px;
                display: flex;
                justify-content: space-between;

                button {
                    font-size: 17px;
                    font-weight: 500;
                    color: #212832;

                    width: 100px;
                    border-color: #212832;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 5px;
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            nav::after {
                content: url(../images/en.png);
                margin-left: 5px;
                margin-bottom: 5px;
            }

            nav {
                font-size: 17px;
                font-weight: 500;
                color: #212832;   
                cursor: pointer; 
            }

        }
    }
}

.s-1 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-weight: 700;
        font-size: 20px;
        color: #DF6951;
        margin-bottom: 24px;
    }

    h1 {
        font-weight: 700;
        font-size: 84px;
        line-height: 89px;
        color: #181E4B;

        width: 545px;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        color: #5E6282;

        width: 477px;
        margin-bottom: 34px;
    }

    .s-1-button {
        width: 380px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .yellow {
            width: 170px;
            height: 60px;
            border: none;
            background-color: #F1A501;
            border-radius: 10px;
            box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
            border-radius: 10px;

            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer; 
        }

        .red-button {
            display: flex;
            justify-content: space-between;
            width: 140px;
            align-items: center;

            .red {
                border: none;
                width: 52px;
                height: 52px;
                background-color: #DF6951;
                border-radius: 50px;
                box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                cursor: pointer; 
            }
    
            a {
                font-size: 17px;
                font-weight: 500;
                color: #686D77;
            }
        }

       
    }
}